.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;  
    grid-column: span 4; 
}


.list {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    background-color: #eacece;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: o;
}
#webPage {
     
     background-color: rgb(117, 65, 137);
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 150px 1fr 1fr;
     margin:5px auto;
     gap: 5px;
}
#navBarDiv {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Motivation-container{
    display: flex;
    justify-content: start;
    margin-left: 20px;
    gap: 130px;
}
.category{
    grid-column: span 1;
    grid-row: span 1;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
}
